<div class="flex-column text-center">
<h2>Account 👤</h2> <br/>
    {{#if loggedIn}}
        <h6>Username: {{name}}</h6>
        <h6>Email: {{email}}</h6>
        <h6>Balance: £{{balance}} </h6>

        <form action="/users/{{id}}/balance" method="post">
            £ <input id="balance" name="balance" type="number" placeholder="amount" min="0" step=".01" />
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
        <br/>
        <hr/>

        <h4>Transfer Money</h4>
        <form action="/users/{{id}}/transfer" method="post">
            {{!-- To <input id="recipient" name="recipient" type="text" placeholder="email address"/> --}}

            <select name="recipient" size="1">
                {{#each friends}}
                <option value={{this.email}}>{{this.email}}</option>
                {{/each}}
            </select>

            £ <input id="amount" name="amount" type="number" min="0" step=".01" max="{{balance}}" />
            <button class="btn btn-primary" type="submit">Transfer</button>
        </form>


        <br/>
        <hr/>


            {{#if anyFriends}}
                <h4>My Friends</h4>
                {{#each friends}}
                    <p>{{this.email}}</p>
                {{/each}}
                <br/>
                <hr/>
            {{/if}}

        
            {{#if anyUsers}}
                <h4>Add Friends</h4>
                {{#each users}}
                    <form action="/users/{{../id}}/friends" method="post">
                        {{this.email}} 
                        <input type="hidden" value={{this.email}} name="friend_email">
                        <input type="hidden" value={{this.id}} name="friend_id">
                        <button class="btn btn-primary" type="submit">+</button>
                    </form>
                {{/each}}
                <br/>
                <hr/>
            {{/if}}


        <br/>

        <h4>Invite Friends</h4>
        <form action="/users/{{id}}/invite" method="post">
            <input id="invite" name="invite" type="text" placeholder="email address"/>
            <button class="btn btn-primary" type="submit">Invite</button>
        </form>    

        <button class="btn btn-light"><a href="http://localhost:3000">Home</a></button>
    {{/if}}
</div>